<section class="container">
    <h1 class="my-3" aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item">
                <a routerLink="/orders" title="Go back to Orders">Orders</a>
            </li>

            <li class="breadcrumb-item active" aria-current="page">
                {{ hasValidId ? "Edit" : "Add" }}
            </li>
        </ul>
    </h1>

    @if (isLoading) {
        <div class="placeholder-glow">
            <div class="row">
                <div class="col-md-8 mb-3">
                    <label class="form-label col-5 placeholder"></label>
    
                    <span class="form-control col-12 placeholder"></span>
                </div>
    
                <div class="col-md-4 mb-3">
                    <label class="form-label col-5 placeholder"></label>
    
                    <span class="form-control col-12 placeholder"></span>
                </div>
            </div>

            <h3 class="mt-3">
                Products
            </h3>

            <table class="table">
                <colgroup>
                    <col width="3%">
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col width="3%">
                </colgroup>

                <thead>
                    <tr>
                        <th scope="col">
                            <span class="form-control col-12 placeholder"></span>
                        </th>
                        <th scope="col">
                            <span class="form-control col-12 placeholder"></span>
                        </th>
                        <th scope="col">
                            <span class="form-control col-12 placeholder"></span>
                        </th>
                        <th scope="col">
                            <span class="form-control col-12 placeholder"></span>
                        </th>
                        <th scope="col">
                            <span class="form-control col-12 placeholder"></span>
                        </th>
                        <th scope="col" colspan="2">
                            <span class="form-control col-12 placeholder"></span>
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <th scope="row" class="text-end">
                            <span class="form-control col-12 placeholder"></span>
                        </th>
                        <td>
                            <span class="form-control col-12 placeholder"></span>
                        </td>
                        <td>
                            <span class="form-control col-12 placeholder"></span>
                        </td>
                        <td>
                            <span class="form-control col-12 placeholder"></span>
                        </td>
                        <td>
                            <span class="form-control col-12 placeholder"></span>
                        </td>
                        <td colspan="2">
                            <span class="form-control col-12 placeholder"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    }
    @else {
        @if (hasError) {
            <div class="alert alert-danger" role="alert">
                <div class="row">
                    <div class="col-1">
                        <i class="bi bi-patch-exclamation"></i>
                    </div>
        
                    <div class="col-11">
                        {{ errorMessage }}
                    </div>
                </div>
            </div>
        }

        <div [formGroup]="mainFormGroup">
            <fieldset>
                <div class="row">
                    <div class="col-md-8 mb-3">
                        <label for="name" class="form-label">Name</label>

                        <input type="text" formControlName="name" id="name" #focusOn
                            class="form-control" [ngClass]="{ 'is-invalid': mainFormGroupControls.name.errors, 'is-valid': mainFormGroupControls.name.valid }">

                        @if (mainFormGroupControls.name.errors) {
                            <div class="invalid-feedback">
                                @if (mainFormGroupControls.name.errors.required) {
                                    <div>Name is required</div>
                                }
                                @else if (mainFormGroupControls.name.errors.minlength) {
                                    <div>Name at least should be 3 characters</div>
                                }
                            </div>
                        }
                    </div>

                    <div class="col-md-4 mb-3">
                        <label for="mobileNumber" class="form-label">Mobile Number</label>

                        <div class="input-group has-validation">
                            <span class="input-group-text">+91</span>

                            <input type="number" formControlName="mobileNumber" id="mobileNumber"
                                class="form-control" [ngClass]="{ 'is-invalid': mainFormGroupControls.mobileNumber.errors, 'is-valid': mainFormGroupControls.mobileNumber.valid }"
                                inputmode="tel">

                            @if (mainFormGroupControls.mobileNumber.errors) {
                                <div class="invalid-feedback">
                                    @if (mainFormGroupControls.mobileNumber.errors.required) {
                                        <div>Mobile Number is required</div>
                                    }
                                    @else if (mainFormGroupControls.mobileNumber.errors.min || mainFormGroupControls.mobileNumber.errors.max) {
                                        <div>Mobile Number should be 10 digits</div>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                </div>

                <h3 class="mt-3">
                    Products

                    <a href="#" (click)="onAddProductClicked()" class="text-primary ms-2" title="Add Product">
                        <i class="bi bi-plus-circle-dotted"></i>
                    </a>
                </h3>

                @if (hasOrderProducts) {
                    <div class="table-responsive border rounded mb-3">
                        <table class="table table-hover table-striped align-middle mb-0">
                            <colgroup>
                                <col width="3%">
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                                <col width="3%">
                            </colgroup>

                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Product</th>
                                    <th scope="col" class="text-end">Quantity</th>
                                    <th scope="col" class="text-end">Price</th>
                                    <th scope="col" class="text-end">No of Packets</th>
                                    <th scope="col" class="text-end">Amount</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>

                            <tbody>
                                @for (orderProduct of orderProductList; track $index) {
                                    <tr>
                                        <th scope="row" class="text-end">{{ $index + 1 }}.</th>
                                        <td>{{ orderProduct.product.name }}</td>
                                        <td class="text-end">{{ orderProduct.product.quantity }} grams</td>
                                        <td class="text-end">{{ orderProduct.product.price }} ₹</td>
                                        <td class="text-end">{{ orderProduct.numberOfPackets }}</td>
                                        <td class="text-end">{{ orderProduct.amount }} ₹</td>
                                        <td class="text-end">
                                            <div class="btn-group">
                                                <button type="button" (click)="onEditOrderProductClicked($index)" class="btn btn-outline-primary" title="Edit Product">
                                                    <i class="bi bi-pencil"></i>
                                                </button>
                                                
                                                <button type="button" (click)="onDeleteOrderProductClicked($index)" class="btn btn-outline-danger" title="Delete Product">
                                                    <i class="bi bi-trash3"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>

                            <tfoot>
                                <tr>
                                    <th scope="row" class="text-end"></th>
                                    <th>Total</th>
                                    <th></th>
                                    <th></th>
                                    <th class="text-end">{{ totalNumberOfPackets }}</th>
                                    <th class="text-end">{{ totalAmount }} ₹</th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                }
                @else {
                    <div class="lead text-center text-muted py-2 mb-3">
                        Click
                        <a href="#" (click)="onAddProductClicked()" class="text-primary" title="Add Product">
                            <i class="bi bi-plus-circle-dotted"></i>
                        </a>
                        to add a product
                    </div>
                }
            </fieldset>

            <button type="button" (click)="onSubmitClicked()" [disabled]="!isFormValid || isSubmitted" class="btn btn-primary" title="Save Order">
                @if (isSubmitted) {
                    <div class="spinner-border spinner-border-sm" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                }
                @else {
                    <i class="bi bi-hdd"></i>
                }
                <span class="ms-2">Save</span>
            </button>

            <a routerLink="/orders" class="btn btn-outline-secondary ms-2" title="Go back to Orders">
                <i class="bi bi-x-lg"></i>
                <span class="ms-2">Cancel</span>
            </a>
        </div>
    }
</section>

@if (showOrderProductForm) {
    <order-product-form [orderProduct]="addOrEditOrderProduct" (onClose)="onAddOrEditProductClosed($event)"></order-product-form>
}