<section class="container">
    @if (isLoading) {
        <div class="d-flex justify-content-center my-5">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
        </div>
    }
    @else {
        <div class="row mt-4">
            <div class="col-12 col-md-6">
                <h2>Orders</h2>

                <div class="row text-center">
                    <div class="col-6 col-sm-4 col-xl-3 mb-4">
                        <div class="h-100 p-3 border rounded-3 border-light-subtle bg-light-subtle">
                            <span class="display-6">{{ noOfOrders }}</span>
                            <br />
                            <span>Total</span>
                        </div>
                    </div>

                    <div class="col-6 col-sm-4 col-xl-3 mb-4">
                        <div class="h-100 p-3 border rounded-3 border-primary-subtle bg-primary-subtle">
                            <span class="display-6">{{ noOfSavedOrders }}</span>
                            <br />
                            <span>Saved</span>
                        </div>
                    </div>
                    
                    <div class="col-6 col-sm-4 col-xl-3 mb-4">
                        <div class="h-100 p-3 border rounded-3 border-success-subtle bg-success-subtle">
                            <span class="display-6">{{ noOfDeliveredOrders }}</span>
                            <br />
                            <span>Delivered</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <h2 class="text-md-end">Totals</h2>

                <div class="row text-center d-flex justify-content-md-end">
                    <div class="col-6 col-sm-4 col-xl-3 mb-4">
                        <div class="h-100 p-3 border rounded-3 border-light-subtle bg-light-subtle">
                            <span class="display-6">{{ noOfProducts }}</span>
                            <br />
                            <span>Proudcts</span>
                        </div>
                    </div>

                    <div class="col-6 col-sm-4 col-xl-3 mb-4">
                        <div class="h-100 p-3 border rounded-3 border-light-subtle bg-light-subtle">
                            <span class="display-6">{{ totalProductTotalOrderQuantity }}</span>
                            <br />
                            <span>Packets</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h2 class="mt-4">Products</h2>

        @if (hasProducts) {
            <div class="table-responsive border rounded mb-3">
                <table class="table table-hover table-striped align-middle mb-0">
                    <colgroup>
                        <col width="3%">
                        <col>
                        <col>
                        <col>
                        <col>
                    </colgroup>

                    <thead>
                        <tr>
                            <th scope="col" class="text-end">#</th>
                            <th scope="col">Product Name</th>
                            <th scope="col" class="text-end">No of Orders</th>
                            <th scope="col" class="text-end">Total Packets</th>
                            <th scope="col" class="text-end">Total Amount</th>
                        </tr>
                    </thead>

                    <tbody>
                        @for (productTable of productsTable; track $index) {
                            <tr>
                                <th scope="col" class="text-end">{{ $index + 1 }}</th>
                                <td scope="col">{{ productTable.name }}</td>
                                <td scope="col" class="text-end">{{ productTable.noOfOrders }}</td>
                                <td scope="col" class="text-end">{{ productTable.totalQuantity }}</td>
                                <td scope="col" class="text-end">{{ productTable.totalAmount }} ₹</td>
                            </tr>
                        }
                    </tbody>

                    <tfoot>
                        <tr>
                            <th></th>
                            <th>Grand Total</th>
                            <th class="text-end">{{ noOfProductOrders }}</th>
                            <th class="text-end">{{ totalProductTotalOrderQuantity }}</th>
                            <th class="text-end">{{ totalProductTotalOrderAmount }} ₹</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        }
        @else {
            <div class="lead text-center text-muted py-2 mb-3">
                No Products
            </div>
        }

        <h2 class="mt-5">Orders</h2>

        @if (hasOrders) {
            <div class="row">
                @for (order of orders; track $index) {
                    <div class="col-6 col-md-4 col-lg-3 col-xl-2 mb-3">
                        <div class="row gx-2 border rounded text-nowrap" [ngClass]="getOrderStatusClass(order.status)">
                            <div class="col-6 text-end p-2">
                                {{ order.id }}
                            </div>

                            <div class="col-6 col-md-4 col-lg-3 col-xl-2 p-2 border-3 border-start text-nowrap" [ngClass]="getOrderStatusBorderClass(order.status)">
                                {{ order.totalAmount }} ₹
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
        @else {
            <div class="lead text-center text-muted py-2 mb-3">
                No Orders
            </div>
        }
    }
</section>