<div class="offcanvas offcanvas-end show" tabindex="-1" aria-modal="true" role="dialog">
    <div class="offcanvas-header text-bg-danger">
        <h5 class="offcanvas-title">Delete Product</h5>
    </div>

    <div class="offcanvas-body">
        @if (isLoading) {
            <div class="placeholder-glow">
                @for (item of _noOfFields; track $index) {
                    <div class="mb-3">
                        <label class="form-label col-5 placeholder"></label>
                        
                        <span class="form-control col-12 placeholder"></span>
                    </div>
                }
    
                <button type="button" disabled class="btn btn-danger col-4 placeholder">
                </button>
    
                <button type="button" disabled class="btn btn-secondary ms-2 col-4 placeholder">
                </button>
            </div>
        }
        @else {
            <div class="alert alert-danger" role="alert">
                <div class="row">
                    <div class="col-1">
                        <i class="bi bi-patch-question"></i>
                    </div>

                    <div class="col-11">
                        Are you sure you want to delete Product?
                    </div>
                </div>
            </div>

            @if (hasError) {
                <div class="alert alert-danger" role="alert">
                    <div class="row">
                        <div class="col-1">
                            <i class="bi bi-patch-exclamation"></i>
                        </div>
            
                        <div class="col-11">
                            {{ errorMessage }}
                        </div>
                    </div>
                </div>
            }
    
            <div class="mb-3">
                <label class="fw-bold">Name</label>

                <span class="form-control-plaintext">{{ product!.name }}</span>
            </div>

            <div class="mb-3">
                <label class="fw-bold">Price</label>

                <span class="form-control-plaintext">{{ product!.price }} ₹</span>
            </div>

            <div class="mb-3">
                <label class="fw-bold">Quantity</label>

                <span class="form-control-plaintext">{{ product!.quantity }} grams</span>
            </div>

            <div class="mb-3">
                <label class="fw-bold">Order</label>

                <span class="form-control-plaintext">{{ product!.sort }} ₹</span>
            </div>

            <button type="submit" (click)="onDeleteClicked()" class="btn btn-danger">
                @if (isSubmitted) {
                    <div class="spinner-border spinner-border-sm" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                }
                @else {
                    <i class="bi bi-hdd"></i>
                }
                <span class="ms-2">Delete</span>
            </button>

            <button type="button" (click)="onCancelClicked()" class="btn btn-outline-secondary ms-2">
                <i class="bi bi-x-lg"></i>
                <span class="ms-2">Cancel</span>
            </button>
        }
    </div>
</div>
<div class="offcanvas-backdrop fade show"></div>